*{
    font-family: 'IM Fell Great Primer SC', serif;
    font-family: 'Inter', sans-serif; 
}

.full-top-Screen-Shop{
    background-color: #031442;
    height: 80vh;
}

.full-top-Screen-Shop{
    display: flex;
}

.left-text{
    display:flex;
    flex-direction: column;
    margin-top: 6rem;
    margin-left: 4rem;
}

.first-title{
    display: flex;
    font-size: 8rem;
    color: white;
    justify-content: left;
}

.second-title{
    display: flex;
    font-size: 8rem;
    color: white;
    justify-content: left;
}

.third-title{
    display: flex;
    font-size: 8rem;
    color: white;
    background-color: #736EF0;
}

.first-subtitle{
    display: flex;
    color: white;
    font-size: 3rem;
    margin-top: 1rem;
}

.second-subtitle{
    display: flex;
    color: #736EF0;
    font-size: 3rem;
    margin-top: 1rem;
}

.right-img{
    width: 70%;
}

.img-top-top-screen-shop{
    width: 100%;
    height: 100%;
}