.div-top-product-best-prices {
    display: flex;
}

.title-best-prices{
    font-size: 3rem;
    margin-left: 2rem;
}

.img-best-prices{
    width: 4rem;
}

.emoji-and-title{
    display: flex;
    margin: 6rem 5rem;
    align-items: center;
}

.title-best-prices span{
    color: #736EF0;
}


.full-product{
    background-color: #002259;
    border-radius: 1rem;
}


.img-top-product-best-prices{
    width: 3rem;
}

.product-list-best-prices{
    width: 100%;
    display: grid;
    grid-template-columns: 46% 46%;
    gap: 2%;
    justify-content: center;
    margin-bottom: 20rem;
}

.div-top-product-best-prices{
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 1rem 0;
}

.type-product-best-prices{
    color: white;
    font-size: 2.5rem;
    font-weight: 100;
}

.information-product{
    text-align: left;
    margin-left: 4rem;
}

.name-product-best-prices{
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.prices-and-add-to-cart{
    display: flex;
    align-items: center;
}

.price-before{
    color: #D43939;
    font-size: 1.5rem;
    text-decoration:line-through
}

.price-now{
    font-size: 3rem;
    color: white;
    margin-left: 0.8rem;
    font-weight: 700;
}
.buttons-add-to-cart{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 4rem;
    margin-bottom: 2rem;
}

