.img-working-rush{
    width: 1.5rem;
}

.all-information{
    display: grid;
    grid-template-columns: 92% 6%;
    margin: 1rem 2rem;

}

.name-and-to-do{
    display: flex;
    align-items: center;
    border: 1px solid #D43939;
    background-color: #d4393985;
    border-radius: 1rem;
    padding-left: 1rem;
    margin-right: 1rem;
    color: #031442;
    font-size: 0.9rem;
}

.name{
    display: flex;
    align-items: center;
    border-right: 1px solid #D43939;
    height: 100%;
    padding-right: 1rem;
}

.what-to-do{
    margin: 0 1rem;
}

.div-imgs{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

